.map-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.marker {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #1e293b;
    /* Slate-800 */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.marker:hover {
    transform: scale(1.2);
}