:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0f172a;
  /* Slate-900 */
}

#root {
  width: 100%;
  height: 100%;
  isolation: isolate;
}

.app-shell {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}